.contact {
  padding: 100px 10%;
  background:
  linear-gradient(135deg,#111827,#1e3a8a);
  color:white;
}
.contact-header {
  text-align:center;
  max-width:700px;
  margin:auto;
}

.contact-header h2 {
  font-size:42px;
  margin-bottom:15px;
  color: #f97316;
}

.contact-header p {
  color:#d1d5db;
  font-size:18px;
}

.contact-box {
  max-width:850px;
  margin:50px auto 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px;
  background:
  rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  border-radius:20px;
  border:1px solid rgba(255,255,255,0.2);
}

.contact-profile {
  text-align:center;
}

.contact-logo {
  width:90px;
  height:90px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  border-radius:50%;
  background:white;
  color:#1e3a8a;
  font-size:32px;
  font-weight:bold;
}

.contact-profile h3 {
  margin-top:20px;
  font-size:28px;
}

.contact-profile span {
  color:#d1d5db;
}

.availability-tags {
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:25px;
}

.availability-tags div {
  padding:8px 15px;
  background:#2563eb;
  border-radius:20px;
  font-size:14px;
}

.contact-links {
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-links a {
  text-decoration:none;
  color:white;
  padding:15px 25px;
  background:rgba(255,255,255,0.15);
  border-radius:12px;
  transition:.3s;
}

.contact-links a:hover {
  background:#2563eb;
  transform:translateX(8px);
}

/* Mobile */
@media(max-width:768px){
.contact-box{
flex-direction:column;
gap:35px;
}

.contact-header h2{
font-size:32px;
}
}